.dashboard-nav-container{
    height: 90px;
}

.header-dashdoard{
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.action-faff{
    border: none;
    width: auto;
    height: 60px;
}
.header-button{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 1px;
    padding-right: 0px;
    
}

.react-icon{
    height: 150px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin: 0;
}

.content-dashboard{
    display: flex;
    justify-content: space-around;
    gap: 1px;
}

#search-bar{
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    height: 40px;
    width: 400px;
    text-align: center;
}


/*************************
         modal 
 *************************/

 /* Style for the modal overlay */
.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay for better visibility */
}

/* Style for the modal box */
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Width of the modal */
    background-color: #fff; /* White background */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Soft shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Spacing inside the modal */
    z-index: 1000; /* Make sure it stays above other elements */
}

/* Style for the modal heading */
.modal-box h2 {
    font-size: 1.5rem; /* Larger font size for the heading */
    margin-bottom: 20px; /* Spacing below the heading */
    color: #333; /* Dark color for the heading */
    text-align: center; /* Center align the heading */
}

/* Style for the input file */
.modal-box input[type="file"] {
    width: 100%; /* Full width input */
    padding: 10px; /* Padding inside the input */
    margin-bottom: 20px; /* Spacing below the input */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Slightly rounded corners */
    font-size: 1rem; /* Font size for the input */
}

/* Style for the upload button */
.modal-box button {
    background-color: #a976ec; /* Bootstrap primary color */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 4px; /* Slightly rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%; /* Full width button */
    font-size: 1rem; /* Font size for the button */
    transition: background-color 0.3s ease; /* Transition effect for background color */
}

/* Button hover effect */
.modal-box button:hover {
    background-color: #220738; /* Darker shade on hover */
}
